@tailwind base;
@tailwind components;
@tailwind utilities;

/*Header css start*/
.logo{
    margin-left: 50px;
}
/*Header css end*/

/*VMenu css start*/
    .vmenu{
        padding-left: 60px;
    }
/*VMenu css end*/

.josefin{
    font-family: var(--font--josefin--);
}

h2,h3 {
    font-family: var(--font--josefin--);
}
